*{
	margin:0;
	padding: 0;
	font-family: Arial;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(../backg.gif);
	height : 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	margin-top: 25px;
	background-color: dimgray;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}

ul li.active a{
	background-color: #353839;
	color: lightblue;
}

ul li a:hover{
	background-color: #353839;
	color: lightblue;
	transition: 0.5s ease;
}

.logo img{
	height: 125px;
	width: auto;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	/*border: 1px solid #fff;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
*/
	text-decoration: none;
	margin-top: 25px;
	background-color: dimgray; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;

}

a:hover{
	background-color: #353839;
	color: lightblue;
	transition: 0.5s ease;
}

.topggwidget{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*It starts here*/
.wrapper {
  position: absolute;
  top: 50%;
  left: 85%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
}

.letter {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;
}
.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}

.letter:nth-child(1):before {
  content: "7319248506";
  margin-top: -216px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 1.044s;
          animation-duration: 1.044s;
  -webkit-animation-delay: 0.71s;
          animation-delay: 0.71s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(2):before {
  content: "5467801239";
  margin-top: -72px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 1.53s;
          animation-duration: 1.53s;
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(3):before {
  content: "0614529837";
  margin-top: -48px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 0.6133333333s;
          animation-duration: 0.6133333333s;
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(4):before {
  content: "6907824531";
  margin-top: -72px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 1.32s;
          animation-duration: 1.32s;
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(5):before {
  content: "3672591804";
  margin-top: -96px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 3.168s;
          animation-duration: 3.168s;
  -webkit-animation-delay: 0.01s;
          animation-delay: 0.01s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(6):before {
  content: "3951026874";
  margin-top: -120px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 1.2666666667s;
          animation-duration: 1.2666666667s;
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(7):before {
  content: "3628754109";
  margin-top: -120px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 3.0333333333s;
          animation-duration: 3.0333333333s;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(8):before {
  content: "1328769054";
  margin-top: -216px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(9):before {
  content: "6503872149";
  margin-top: -192px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 0.64s;
          animation-duration: 0.64s;
  -webkit-animation-delay: 0.82s;
          animation-delay: 0.82s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(10):before {
  content: "5714309862";
  margin-top: -72px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(11):before {
  content: "4528607931";
  margin-top: -96px;
  -webkit-animation-name: letter11;
          animation-name: letter11;
  -webkit-animation-duration: 0.256s;
          animation-duration: 0.256s;
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter11 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(12):before {
  content: "0738214695";
  margin-top: -48px;
  -webkit-animation-name: letter12;
          animation-name: letter12;
  -webkit-animation-duration: 0.48s;
          animation-duration: 0.48s;
  -webkit-animation-delay: 0.82s;
          animation-delay: 0.82s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter12 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(13):before {
  content: "2150439867";
  margin-top: -24px;
  -webkit-animation-name: letter13;
          animation-name: letter13;
  -webkit-animation-duration: 1.48s;
          animation-duration: 1.48s;
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter13 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(14):before {
  content: "3705641928";
  margin-top: -24px;
  -webkit-animation-name: letter14;
          animation-name: letter14;
  -webkit-animation-duration: 1.76s;
          animation-duration: 1.76s;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter14 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(15):before {
  content: "5387042619";
  margin-top: -192px;
  -webkit-animation-name: letter15;
          animation-name: letter15;
  -webkit-animation-duration: 3.2355555556s;
          animation-duration: 3.2355555556s;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter15 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(16):before {
  content: "7328649051";
  margin-top: -24px;
  -webkit-animation-name: letter16;
          animation-name: letter16;
  -webkit-animation-duration: 1.62s;
          animation-duration: 1.62s;
  -webkit-animation-delay: 0.19s;
          animation-delay: 0.19s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter16 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(17):before {
  content: "3705641928";
  margin-top: -24px;
  -webkit-animation-name: letter17;
          animation-name: letter17;
  -webkit-animation-duration: 1.76s;
          animation-duration: 1.76s;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter17 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter17 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(18):before {
  content: "6503872149";
  margin-top: -192px;
  -webkit-animation-name: letter18;
          animation-name: letter18;
  -webkit-animation-duration: 0.64s;
          animation-duration: 0.64s;
  -webkit-animation-delay: 0.82s;
          animation-delay: 0.82s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter18 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter18 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(19):before {
  content: "5467801239";
  margin-top: -72px;
  -webkit-animation-name: letter19;
          animation-name: letter19;
  -webkit-animation-duration: 1.53s;
          animation-duration: 1.53s;
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter19 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}

@keyframes letter19 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}